[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decision-tree = {editable = true, extras = ["graphviz", "jax"], path = "."}

[dev-packages]
ipykernel = "*"
black = {extras = ["jupyter"], version = "*"}
pytest = "*"

[requires]
python_version = "3.8"
